.chess-container {
    padding: 20px;
    animation: fade-in 0.5s ease;
  }
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .chess-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .chess-loading {
    text-align: center;
  }
  
  .chessboard-container {
    margin-bottom: 20px;
  }
 
  .div-chessboard{
    display: flex;
    
  }
  
  
  .chessboard-wrapper{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
 
  
  .chess-controls {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .moves-list {
    max-height: 300px;
    overflow-y: auto;
  }
  
  .move-btn {
    display: block;
    width: 100%;
    text-align: left;
    margin-bottom: 5px;
  }

  .evaluation-div{
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  
  .evaluation-bar {
    width: 30px;
    height: 450px;
    background-color: #f0f0f0;
    margin-left: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
    overflow: hidden;
  }
  
  .evaluation-bar-fill {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transition: height 0.3s ease-in-out;
  }

  [data-bs-theme=dark]{

    .chessboard-wrapper{
      background: #212529 !important;
    }
  }


  @media (max-width: 768px) {
    .evaluation-bar{
      height: 50%;
    }
  }
  
 
  