
header {
    position: relative;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    z-index: 2;
}

header.scrolled {
    background-color: rgba(212, 23, 23, 0.95) !important;
}
.navbar {
    
    
}
.navbar.scrolled{
    background-color: rgba(212, 23, 23, 0.95) !important;
}

.brand {
    display: flex;
    align-items: center;
}
.brand-link{
    display: flex;
    
}
.brand span {
    display: flex;
    margin-left: 15px;
    font-weight: bold;
    font-size: 1.2rem;
    align-self: center;
    color: #333;
}
.brand span:hover{
    color: #333;
}


.theme-div{
   
    background: rgba(0, 0, 0, 0) !important;
    cursor: pointer !important;
}
.icon-theme{
  
    filter: drop-shadow(0 0 0px rgb(197, 197, 197));
}
.icon-theme:hover{
    filter: drop-shadow(0 0 1px rgb(172, 172, 172));
}










@media (max-width: 991px) {
    .brand span {
        font-size: 1rem;
    }

    .second-navbar-collapse {
        flex-direction: column;
        align-items: center;
    }

    .second-navbar .nav-link {
        padding: 0.5rem;
    }

   
}



[data-bs-theme=dark] {
    .header{
        background: rgba(0, 0, 0, 0) !important;
    }
   .navbar {
    background: rgba(0, 0, 0, 0) !important;  /* Un tono más oscuro para la primera navbar */
        
    }
    
    .second-navbar {
        background: #212529;  /* Mantenemos el tono original para la segunda navbar */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }
    .navbar-brand span, .nav-link {
        color: #f8f9fa;
    }
    .navbar .nav-link,
    
    .icon-theme{
        background: rgba(0, 0, 0, 0) !important;
    }
    .icon-theme:hover{
    filter: drop-shadow(0 0 1px rgb(255, 255, 255));
    }
    
    
}

