.hero-section {
    height: 100vh;
    width: 100%;
   
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.5) 100%),
      url("https://hebbkx1anhila5yf.public.blob.vercel-storage.com/depo%20ajedrez.jpg-UzUTE9HujM0uS6H2pTpEta8fdPqzb9.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    
  }
  
  .hero-content {
    max-width: 800px;
    padding: 2rem;
  }
  
  .hero-content h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .hero-content p {
    font-size: 1.5rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }
  
  @media (max-width: 768px) {
    .hero-content h1 {
      font-size: 2rem;
    }
  
    .hero-content p {
      font-size: 1.2rem;
    }
  }
  
  