.history-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .history-title {
    color: #333;
    margin-bottom: 20px;
   
    text-align: center;
  }
  
  .history-subtitle {
    color: #555;
 
    margin-top: 30px;
    margin-bottom: 15px;
  }
  
  .history-text {
    text-align: left;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .history-image-container {
    margin-bottom: 20px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  .history-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .history-image-caption {
    font-style: italic;
    color: #666;
    margin-top: 10px;
  }
  
  [data-bs-theme=dark]{
    .history-title {
        color: #f8f9fa;
        
      }
      
      .history-subtitle {
        color: #e9ecef;
       
      }
      .history-image-caption{
        color: #c0c0c0;
      }
  }