body {
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

#container-home{
  animation: fade-in 0.5s ease;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hover-bg-light:hover {
    background-color: rgba(0, 0, 0, 0.05);
    transition: background-color 0.2s;
  }
  
  .cursor-pointer {
    cursor: pointer;
  }
 
  #col-nav{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
  }
  #card-news-home{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
  }
  #col-events{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
  }
  

  #news-h2{
    margin-top: 20px;
    text-align: center;
  }
  .link-news{
    text-decoration: none;
    color: black;
  }

  .icon{
    margin-right: 5px;
    flex-shrink: 0;
  }
  .icon-trophy{
    color: gold;
    margin-right: 5px;
    flex-shrink: 0;
  }
  .icon-star{
    color: gold;
    margin-right: 5px;
    flex-shrink: 0;
  }
  
  .icon-table{
    
    margin-right: 5px;
    flex-shrink: 0;
  }


  /*-.---------------CARDS-NEWS----------------------------------*/
  .card-news-img{
    cursor: pointer;
    height: 200px;
    object-fit: cover;
    object-position: top center;
 
  }
  .news-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1.5rem;
  }
  
  .news-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .news-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1) !important;
  }
  .btn-news-div{
    display: flex;
    justify-content: space-between;
  }



  

  [data-bs-theme=dark]{
    background: #1a1d20 !important; 
   
    .loading{
      background: #1a1d20 !important; 
    }
    #container-home{
      background: #1a1d20 !important; 
    }
   
    #nav-item{
      color:#dee2e6 !important;
      
    }
    #col-nav{
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) !important;
    }
    #card-news-home{
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) !important;
    }
    #col-events{
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) !important;
    }

    .hover-bg-light:hover {
    background-color: rgba(255, 255, 255, 0.05);
    transition: background-color 0.2s;
  }

    .card-title{
      color:#f8f9fa !important;
    }
    .card-subtitle{
      color: #dee2e6 !important;
    }

    footer{
      background: #1a1d20 !important;
    }
}
  
  
