.div-secondary-header {
    position: relative;
    margin-bottom: 100px;
  }
  
  .secondary-navbar {
    background: #f8f9fa !important;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 5 !important;
  }
  
  .secondary-nav-link {
    color: #333 !important;
  }
  
  .secondary-nav-link:hover {
    filter: drop-shadow(0 0px 1px #c7c7c7) !important;
  }
  
  .brand-link-secondary {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  
  .brand-link-secondary img {
    margin-right: 10px;
  }
  
  .brand-link-secondary span {
    color: #333 !important;
    font-size: 1rem;
    white-space: normal;
    overflow: visible;
    text-overflow: clip;
    max-width: none;
  }
  
  .links-social-secondary {
    display: flex;
    margin-left: 20px;
  }
  
  .icon-theme-secondary:hover {
    filter: drop-shadow(0 0px 1px #c7c7c7) !important;
  }
  
  .icon-social-secondary:hover {
    filter: drop-shadow(0 0px 1px #c7c7c7) !important;
  }
  
  .navbar-brand {
    margin-right: 0;
  }
  
  .navbar-toggler {
    margin-left: 15px;
  }
  
  @media (max-width: 991px) {
    .brand-link-secondary span {
      font-size: 1rem;
    }
  
    .navbar-collapse {
      max-height: calc(100vh - 100px);
      overflow-y: auto;
      flex-grow: 0;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background-color: inherit;
      padding: 1rem;
      z-index: 1000;
    }
  
    .links-social-secondary {
      margin-top: 10px;
      justify-content: center;
    }
  
    .theme-div {
      margin-top: 10px;
      text-align: center;
      margin-right: 15px;
    }
  
    .icons-container {
      margin-top: 1rem;
      justify-content: center;
      flex-direction: row;
    }
  }
  
  @media (max-width: 575px) {
    .brand-link-secondary img {
      width: 60px;
      height: 60px;
    }
  }
  
  [data-bs-theme="dark"] {
    .secondary-navbar {
      background: #1a1d20 !important;
    }
  
    .secondary-navbar .secondary-nav-link {
      color: #f8f9fa !important;
    }
  
    .secondary-nav-link:hover {
      filter: drop-shadow(0 0px 1px #f8f9fa) !important;
    }
  
    .brand-link-secondary {
      background: #1a1d20 !important;
    }
  
    .brand-link-secondary span {
      color: #f8f9fa !important;
    }
  
    .icon-social-secondary {
      color: #f8f9fa !important;
    }
  
    .icon-social-secondary:hover {
      filter: drop-shadow(0 0px 1px #f8f9fa) !important;
    }
  
    .icon-theme-secondary {
      color: #f8f9fa !important;
    }
  
    .icon-theme-secondary:hover {
      filter: drop-shadow(0 0px 1px #f8f9fa) !important;
    }
  }
  
  .icon-social-secondary {
    margin-left: 10px;
  }
  
  