body::view-transition {
  animation: fade-in 0.5s ease;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

:root {
    font-family: 'Lato', sans-serif;
  
  }
  html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.main {
  flex: 1; /* Esto asegura que el main ocupe el espacio restante */

  padding: 1rem;
}

.footer {
 
  padding: 1rem;
  text-align: center;
 
}
  
.icon-loading{
  
}
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
  }
  

  [data-bs-theme=dark]{

    body{background: #1a1d20 !important;}

    .loading{
      background: #1a1d20 !important; 
    }

  }
